@model IEnumerable<PruebaTecnicaABPOSSolutions.Models.User>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<br />
<div class="container" style="margin-top:100px">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="row">
        <div class="col-md-12">
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            Opciones
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-pen fa-lg text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"></a>
              @if(!item.IsAdmin)
              {
                <a class="fas fa-trash-alt fa-lg text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar" onclick="openModal('@item.Id')"></a>
              }
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
    </div>
</div>

@section Scripts
    {
    <script src="/lib/data-tables/datatables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
        let userId = 0;

        function openModal(id) {
            userId = id;
            $("#modal").modal("show");
        }


        function remove() {

            $.ajax({
                url: "users/delete/" + userId,
                type: 'DELETE',
                success: function () {
                    $('#modal').modal("hide");
                    location.reload();
                }
            });
        }
    </script>
}